@charset "UTF-8";

/*body-------------------------------------------------------------------------------------------------------------*/
/*https://www.w3schools.com/howto/howto_css_full_page.asp*/
body, html {
  height: 100%;
  background-color: #faf6f6;
}

.indexbg {
  /*https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_background_hero*/
  background-color: #ffffff;
  background-image: url("/img/plantbg1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.otherbg {
  background-color: #faf6f6;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*grid system good to use for other projects.*/
.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto; 
  grid-gap: 1em;
  grid-template-areas:
  "nav nav"
  "header header"
  "main main"
  "main main"
  "main main"
  "footer footer"
  ;
} 

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/*fonts------------------------------------------------------------*/ 

.headerFont {
  font-family: 'Montserrat', sans-serif;
 /* color: #334986; */
  color: #000000; 
  justify-content: center;
  text-align: center;
  top: 50%;
  left: 50%;
}


.main, .links, .nav, .footer, .header {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  color: #1b3c42;
}

/*nav--------------------------------------------------------------------------*/
.nav li a {
  color: #1b3c42;
}
