@charset "UTF-8";

/*body-------------------------------------------------------------------------------------------------------------*/
/*https://www.w3schools.com/howto/howto_css_full_page.asp*/
/*body, html {
  height: 100%;
  background-color: #ebebeb;
}*/

.indexbg {
  /*https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_background_hero*/
  background-color: #ebebeb;
  background-image: url("/img/plantbg1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.otherbg {
  background-color: #ebebeb;
  background-image: url("/img/plantbg1a.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.buildingbg {
  background-color: #ebebeb;
  background-image: url("/img/building1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*header Font*/
.my-font-h {
  font-family: 'Montserrat', sans-serif;
}

.my-font-h h1 {
  font-size: 75px;
  
}

.my-center-content {
  justify-content: center;
  text-align: center;
  top: 50%;
  left: 50%;
}

.my-bg-ligth {
  background-color: #d1cba7;
}

