@charset "UTF-8";

body, html {
  height: 100%;
  margin: 0;
  background-color: #ebebeb;
}

.indexbg {
  background-image: url("/img/plantbg1.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.otherbg {
  background-image: url("/img/plantbg1a.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.buildingbg {
  background-image: url("/img/building-cropped.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*header Font*/
.my-font-h {
  font-family: 'Montserrat', sans-serif;
}

.my-bg-ligth {
  background-color: #ebebeb;
}


.my-text-bg-ligth {
  background-color: #f1f1f2;
}
